:root {
    --primary-color: #C1B4A0;
    --secondary-color: #FFFFFF;
    --tertiary-color: #000000;
    --quarternary-color: #59503D;
    --font-set: "Bellefair", regular;
    --second-font-set: "Semplicita Pro", regular;
    --third-font-set: "Semplicita Pro", bold;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(img/background.png);
    font-family: var(--font-set);
}


/*MOBILE VERSION*/
/*Font styling*/
h1{
    font-size: 27px;
    font-family: var(--font-set);
    text-transform: uppercase;
    line-height: 30px;
}

h2{
    font-size: 11px;
    font-family: var(--third-font-set);
    text-transform: uppercase;
    line-height: 20px;
}

p{
    font-size: 11px;
    line-height: 20px;
}


/*NAVIGATIONSBAR*/
/*Logo */

nav img{
    width: 100px;
    padding: 0px 10px 0px 0px;
}

/*Navigationbar*/
/*Der er tilføjet en css animation. Kilde: https://www.w3schools.com/css/css3_animations.asp*/

nav{
    display: flex;
    padding: 20px 37px;
    justify-content: space-between;
    transform: translateY(-100vh);
    background-image: url(img/background.png);
    background-size: cover;
    position: sticky;
    animation: fall 2.5s forwards;
}

@keyframes fall{
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0);
    }
}


/*Links i navigationbar*/

.nav-links ul{
    display: block;
    padding: 0;
}

.nav-links ul li{
    display: block;
    list-style: none;
    text-decoration: none;
    padding: 25px 0px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    font-family: var(--font-set);
}

/*Hover effekt på burger menuen*/

ul li::after{
    content:'';
    width: 0%;
    height: 1px;
    background: var(--secondary-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

ul li:hover::after{
    width: 60px;
}

/*Navigationbar slide*/

.nav-links{
    position: fixed;
    background-color: #59503D;
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    text-align: center;
    transition: 0.5s;
}

@media screen {
    html, body {overflow-x: hidden;}
}

/*Ikon (burgermenu)*/

.menuicon{
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.closeicon{
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 24px 36px;
}

.menu{
    display: flex;
    color: #000;
    cursor: pointer;
}

.menu p{
    font-size: 14px;
    color: #000;
    padding: 0px 5px 0px 0px;
    font-family: "bellefair";
    margin: 0;
}

/*Ikon (shopping bag)*/

.shopping_bag{
    width: 22px;
    height: 22px;  
}

/*FOOTER*/
footer{
    padding: 50px 37px 80px 37px;
    margin: 0;
    background-color: #212121;
    color: var(--secondary-color);
    text-align: center;
    
}

.footerlogo{
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer h3{
    font-size: 20px;
    padding-top: 40px;
}

footer p{
    font-family: var(--second-font-set);
    font-size: 11px;
    margin-bottom: 30px;

}

.footervisit{
    padding-bottom: 50px;
}

.footer-service p:hover{ 
    color: var(--primary-color);
}

footer a{
    color: var(--secondary-color);
    font-family: var(--second-font-set);
    text-decoration: none;
    font-size: 10px;
}

footer a:hover{
    color: var(--primary-color);
}


.footer-SoMe img{
    width: 35px;
    padding: 0;
    padding-top: 50px;
    
}




/*DESKTOP VERSION*/
@media screen and (min-width: 1280px) {
/*Font styling*/
    h1{
        font-size: 35px;
        line-height: 40px;
    }

    h2{
        font-size: 14px;
        line-height: 25px;
    }

    p{
        font-size: 14px;
        line-height: 25px; 
    }
    

    /*NAVIGATIONSBAR*/
    /*Logo*/
    nav img{
        width: 150px;
    }

    /*Navigationbar*/

    nav{
        padding: 20px 60px;
    }

    /*Ikon (burgermenu)*/

    .menuicon{
        width: 22px;
        height: 22px;
    }
    
    .closeicon{
        width: 18px;
        height: 18px;
    }
    
    .menu p{
        font-size: 20px;
    }
    
    /*Ikon (shopping bag)*/
    
    .shopping_bag{
        width: 28px; 
        height: 28px;   
    }



    /*FOOTER*/
    footer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            margin-top: auto;
            margin-bottom: auto;
            text-align: left;
            padding: 50px 60px;

        }
        
        .footerlogo {
            width: 100px;
            grid-column-start: 1;
            grid-column-end: span 4;
            grid-row-start: 1;
            grid-row-end: 1;
            
        }
        
        .footervisit {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
        }
        
        .footer-service{
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
        }

        .footer-contact{
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 2;
        }

        .footer-SoMe {
            padding-left: 250px;
            padding-top: 65px;
            align-items: center;
            grid-column-start: 4;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 2;
        }
        
        .footer-SoMe img {
            width: 40px;
            padding: 0;
        }

        footer p{
            text-align: left;
        }

}