:root {
    --primary-color: #C1B4A0;
    --secondary-color: #FFFFFF;
    --tertiary-color: #000000;
    --quarternary-color: #59503D;
    --font-set: 'Bellefair', serif;
    --second-font-set: "Semplicita Pro", regular;
    --third-font-set: "Semplicita Pro", bold;
}

    html{
        scroll-behavior: smooth;
    }

    body{
        margin: 0;
        padding: 0;
        background-image: url(img/background.png);
        font-family: var(--font-set);
    }

/*MOBILE VERSION*/

/*Font styling*/

    h1{
        font-size: 27px;
        font-family: var(--font-set);
        text-transform: uppercase;
        line-height: 30px;
        font-weight: 400;
    }

    h2{
        font-size: 11px;
        font-family: var(--third-font-set);
        text-transform: uppercase;
        line-height: 20px;
    }

    p{
        font-size: 11px;
        line-height: 20px;
        font-family: var(--second-font-set);
    }


/*NAVIGATIONSBAR*/

/*Logo */

    .logo{
        width: 100px;
        padding: 15px 10px 0px 0px;
    }

/*Navigationbar*/
/*Der er tilføjet en css animation. Kilde: https://www.w3schools.com/css/css3_animations.asp*/

    nav{
        display: flex;
        justify-content: space-between;
        background-image: url(img/background.png);
        background-size: cover;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        animation: fall 2.5s forwards;
    }

    @keyframes fall{
        from{
            transform: translateY(-100%);
        }

        to{
            transform: translateY(0);
        }
    }

/*Links i navigationbar*/

    .nav-links ul{
        display: block;
        padding: 0;
    }

    .nav-links ul li{
        display: block;
        list-style: none;
        text-decoration: none;
        padding: 25px 0px;
    }

    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 27px;
        font-family: var(--font-set);
    }

/*Hover effekt på burger menuen*/

    ul li::after{
        content:'';
        width: 0%;
        height: 1px;
        background: var(--secondary-color);
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    ul li:hover::after{
        width: 60px;
    }

/*Navigationbar slide*/

    .nav-links{
        background-color: #59503D;
        position: absolute;
        min-height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        text-align: center;
        justify-content: center;
        transition: 0.5s;
    }

    @media screen {
        html, body {overflow-x: hidden;}
    }

/*Ikon (burgermenu)*/

    .menuicon{
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .closeicon{
        display: block;
        width: 16px;
        height: 16px;
        cursor: pointer;
        padding: 24px 36px;
    }

    .menu{
        display: flex;
        color: #000;
        cursor: pointer;
        padding: 20px 0px 20px 37px;
    }

    .menu p{
        font-size: 14px;
        color: #000;
        padding: 0px 5px 0px 0px;
        font-family: "bellefair";
        margin: 0;
    }

/*Ikon (shopping bag)*/

    .shopping_bag{
        width: 22px;
        height: 22px;
        padding: 20px 37px 20px 0px; 
    }


/*LANDINGVIDEO*/

    .landing_video{
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-60%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.80);
        animation: fadein ease-in 1.5s forwards;
    }

/*Styling af tekst og logo*/
/*Der er tilføjet en css animation. Kilde: https://www.w3schools.com/css/css3_animations.asp*/

    .video_content{
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 0px 37px;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-60%, -50%);
        animation: fadein ease-in 2s forwards;

    }

    @keyframes fadein{
        from{
            opacity: 0;
        }

        to{
            opacity: 100%;
        }
    }

    .video_content img{
        width: 150px;
    }

    .video_content p{
        color: var(--secondary-color);
    }

/*Ikon (close)*/
/*Der er tilføjet en css animation. Kilde: https://www.w3schools.com/css/css3_animations.asp*/

    .closeicon_landing_page{
        display: flex;
        width: 16px;
        height: 16px;
        cursor: pointer;
        padding: 24px 36px;
        animation: slidein ease-in 1.5s forwards; 
    }

    @keyframes slidein{
        from{
            transform: translateX(-100%);
        }

        to{
            transform: translateX(0);
        }
    }


/*KONTAKT*/

    .contact-form{
        margin: 100px 37px;
    }
    
        hr{
        border: 0.5px solid #000;
        margin: 0px 160px 20px 0px;
    
        }
    
        .contact-text{
        text-align: justify;
        }
        
    form{
        width: 90%;
        max-width: 300px;
        margin-top: 50px;
        display: block;
        align: center;
        justify-content: center;
        }
  
/*Kontaktformularens tekst styling*/

    .input-group{
      margin-bottom: 30px;
      font-size: 11px;
      line-height: 20px;
      font-family: var(--second-font-set);
      position: relative;
    }
  
/*Kontaktformularens styling*/
    input, textarea{
      width: 100%;
      padding: 10px;
      outline: 0;
      border: 1px solid #000000;
      color: #000000;
      background: transparent;
      font-size: 15px;
      font-family: var(--second-font-set);
    }
  
/*Får teksten til at stå inde i kontaktformularen*/
    label{
      height: 100%;
      position: absolute;
      left: 10px;
      right: 0;
      margin-top: -30px;
      cursor: text;
      animation: rise 2.5s;
    }
  
    button{
      padding: 10px 0;
      outline: none;
      background: transparent;
      border: 1px solid #000;
      width: 50%;
      cursor: pointer;
      font-family: var(--second-font-set);
    }


/*FOOTER*/

    footer{
        padding: 50px 37px 80px 37px;
        margin: 0;
        background-color: #212121;
        color: var(--secondary-color);
        text-align: center;   
    }

    .footerlogo{
        width: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer h1{
        padding-top: 40px;
        font-size: 20px;
        
    }

    footer p{
        margin-bottom: 30px;
    }

    .footervisit{
        padding-bottom: 50px;
    }

    .footer-service p:hover{ 
        color: var(--primary-color);
    }

    footer a{
        color: var(--secondary-color);
        font-family: var(--second-font-set);
        text-decoration: none;
        font-size: 11px;
    }

    footer a:hover{
        color: var(--primary-color);
    }


    .footer-SoMe img{
        width: 35px;
        padding: 0;
        padding-top: 50px;
        
    }



/*DESKTOP VERSION*/

@media screen and (min-width: 1280px) {
/*Font styling*/

    h1{
        font-size: 35px;
        line-height: 40px;
    }

    h2{
        font-size: 14px;
        line-height: 25px;
    }

    p{
        font-size: 14px;
        line-height: 25px; 
    }
    

/*NAVIGATIONSBAR*/
    
    /*Logo*/

    .logo{
        width: 150px;
    }

    /*Ikon (burgermenu)*/

    .menuicon{
        width: 22px;
        height: 22px;
    }
    
    .closeicon{
        width: 18px;
        height: 18px;
        padding: 20px 0px 20px 60px;
    }
    
    .menu{
        padding: 20px 0px 20px 60px;
    }

    .menu p{
        font-size: 20px;
    }

    
    /*Ikon (shopping bag)*/
    
    .shopping_bag{
        width: 28px; 
        height: 28px;  
        padding: 20px 60px 20px 0px; 
    }

    
/*LANDING VIDEO*/

    .video_content img{
        width: 250px;
    }

    .closeicon_landing_page{
        width: 18px;
        height: 18px;
        padding: 24px 60px;
    }


/*FOOTER*/

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
        padding: 50px 60px;
    }
        
    .footerlogo {
        width: 100px;
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row-start: 1;
        grid-row-end: 1;
            
    }
        
    .footervisit {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
        
        .footer-service{
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
    }

        .footer-contact{
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 2;
    }

        .footer-SoMe {
            padding-left: 250px;
            padding-top: 65px;
            align-items: center;
            grid-column-start: 4;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 2;
    }
        
        .footer-SoMe img {
            width: 40px;
            padding: 0;
    }

        footer p{
            text-align: left;
    }

        footer a{
            font-size: 14px;
    }

}